@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color: #1a5a8b;
}

h3 {
    font-size: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: rebeccapurple;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

.hero {
    background: url(../images/bg-hero.jpg);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.navigation a {
    color: #000;
}

.navigation a:hover {
    color: var(--primary-color);
}

.hero-content {
    width: 65%;
}

.colorful {
    color: var(--primary-color);
}

.c-name {
    padding-bottom: 2rem;
}

